# Predicting the Satisfaction Level of Airplane Passengers

#### Group Name: 
* Group 26

#### Name(s) & ID(s) of Group Members:
* Lai Pak Yin (s3827212)
* Weixi Guan (s3830776)
####

***
(Credit: A. C. & I. P.)

**DISCLAIMER:** Please do not assume this report is 100% accurate nor it fully satisfies all the project requirements for full credit.
***

## Table of Contents
* [Introduction](#Intro) 
  + [Dataset Source](#Source)
  + [Dataset Details](#Details)
  + [Dataset Variables](#Variables)
  + [Response Variable](#Response)
* [Goals & Objectives](#Goal)
* [Data Cleaning & Preprocessing](#Cleaning_And_Preprocessing)
* [Data Exploration and Visualisation](#Exploration_And_Visualisation)
* [Literature Review](#Review)
* [Summary and Conclusion](#Summary_And_Conclusion)
* [References](#References)

## Introduction <a id='Intro'></a>

### Dataset Source <a id='Source'></a>

The Airline Passenger Satisfaction dataset was sourced from Kaggle (Klein, 2019). This dataset contains an airline passenger satisfaction survey.

### Dataset Details <a id='Details'></a>

This dataset is about the satisfaction level of an Airline company. It contains information about factors that will affect the satisfaction level of customers. For example, seat comfort, inflight entertainment and on-board service are some factors that are included in the dataset. Also, customer's general information such as gender, age and type of travel are recorded in the dataset for more in-depth research. These features are sufficient and capable for predictive modeling of the satisfaction level of customers as a binary classification problem.

This dataset has 23 features and 129880 observations. All the data with no or incorrect information has been removed from this dataset.

### Dataset Variables <a id='Variables'></a>

All the features of the dataset are shown in the table below. The description of features are provided by Kaggle data source.

In [2]:
from tabulate import tabulate

table = [['Name','Data Type','Units','Description'],
         ['Gender','Nominal categorical','NA','Gender of the passengers (Female, Male)'],
         ['Customer type','Nominal categorical','NA','The customer type (Loyal customer, disloyal customer)'],
         ['Age','Numeric','Years Old','The actual age of the passengers'],
         ['Type of travel','Nominal categorical','NA','Purpose of the flight of the passengers \n(Personal Travel, Business Travel)'],
         ['Customer class','Nominal categorical','NA','Travel class in the plane of the passengers \n(Business, Eco, Eco Plus)'],
         ['Flight distance','Numeric','KM','The flight distance of this journey'],
         ['Inflight wifi service','Numeric','NA','Satisfaction level of the inflight wifi service \n(0:Not Applicable;1-5)'],
         ['Departure/Arrival time convenient','Numeric','NA','Satisfaction level of Departure/Arrival time convenient'],
         ['Ease of online booking','Numeric','NA','Satisfaction level of online booking'],
         ['Gate location','Numeric','NA','Satisfaction level of Gate location'],
         ['Food and drink','Numeric','NA','Satisfaction level of Food and drink'],
         ['Online boarding','Numeric','NA','Satisfaction level of online boarding'],
         ['Seat comfort','Numeric','NA','Satisfaction level of Seat comfort'],
         ['Inflight entertainment','Numeric','NA','Satisfaction level of inflight entertainment'],
         ['Onboard service','Numeric','NA','Satisfaction level of On-board service'],
         ['Leg room service','Numeric','NA','Satisfaction level of Leg room service'],
         ['Baggage handling','Numeric','NA','Satisfaction level of baggage handling'],
         ['Check in service','Numeric','NA','Satisfaction level of Check-in service'],
         ['Inflight service','Numeric','NA','Satisfaction level of inflight service'],
         ['Cleanliness','Numeric','NA','Satisfaction level of Cleanliness'],
         ['Departure delay in minutes','Numeric','NA','Minutes delayed when departure'],
         ['Arrive delay in minutes','Numeric','NA','Minutes delayed when Arrival'],
         ['Satisfaction','Nominal categorical','NA','Airline satisfaction level\n(Satisfaction, neutral or dissatisfaction)']]

print(tabulate(table, headers='firstrow', tablefmt='simple'))

Name                               Data Type            Units      Description
---------------------------------  -------------------  ---------  -------------------------------------------------------
Gender                             Nominal categorical  NA         Gender of the passengers (Female, Male)
Customer type                      Nominal categorical  NA         The customer type (Loyal customer, disloyal customer)
Age                                Numeric              Years Old  The actual age of the passengers
Type of travel                     Nominal categorical  NA         Purpose of the flight of the passengers
                                                                   (Personal Travel, Business Travel)
Customer class                     Nominal categorical  NA         Travel class in the plane of the passengers
                                                                   (Business, Eco, Eco Plus)
Flight distance                    Numeric              KM         The flight distance of this journey
Inflight wifi service              Numeric              NA         Satisfaction level of the inflight wifi service
                                                                   (0:Not Applicable;1-5)
Departure/Arrival time convenient  Numeric              NA         Satisfaction level of Departure/Arrival time convenient
Ease of online booking             Numeric              NA         Satisfaction level of online booking
Gate location                      Numeric              NA         Satisfaction level of Gate location
Food and drink                     Numeric              NA         Satisfaction level of Food and drink
Online boarding                    Numeric              NA         Satisfaction level of online boarding
Seat comfort                       Numeric              NA         Satisfaction level of Seat comfort
Inflight entertainment             Numeric              NA         Satisfaction level of inflight entertainment
Onboard service                    Numeric              NA         Satisfaction level of On-board service
Leg room service                   Numeric              NA         Satisfaction level of Leg room service
Baggage handling                   Numeric              NA         Satisfaction level of baggage handling
Check in service                   Numeric              NA         Satisfaction level of Check-in service
Inflight service                   Numeric              NA         Satisfaction level of inflight service
Cleanliness                        Numeric              NA         Satisfaction level of Cleanliness
Departure delay in minutes         Numeric              NA         Minutes delayed when departure
Arrive delay in minutes            Numeric              NA         Minutes delayed when Arrival
Satisfaction                       Nominal categorical  NA         Airline satisfaction level
                                                                   (Satisfaction, neutral or dissatisfaction)

### Response Variable <a id='Response'></a>

For this project, the target feature in this dataset will be predicting passenger satisfaction. The satisfaction level will be predicted based on the explanatory and descriptive variables in the dataset.

## Goals & Objectives <a id='Goal'></a>

Airlines are very important for people who travel around very often. The satisfaction level of passengers become a key factor for them while choosing an airline to travel with. For this reason, a model that can predict passenger's satisfaction level will be useful. For example, airlines can earn more income by improving their service using the predictive model. Likewise, using the predictive model can benefit passengers by increase the quality of service. More importantly, airlines can maintain a good reputation and become more competitive in the market.

For this project, there are two main objectives: (1) predict passenger satisfaction by establish a predictive model and (2) look for factors lead to customer satisfaction for an Airline. By analysing the data with descriptive statistics & data visualisation plot, cleaning & preprocessing the dataset, we can have an insight overview about the pattern and relationship between data which is our goal for Phase1.

## Data Cleaning & Preprocessing <a id='Cleaning_And_Preprocessing'></a>

In this section, we describe the data cleaning and preprocessing steps undertaken for this project.

### Data Retrieval

- We read in the dataset from Phase1_Group26.csv in our GitHub repository and load the modules we will use throughout this report.
- We display 10 randomly sampled rows from this dataset.

In [29]:
import numpy as np
import pandas as pd

# Name of the dataset
df_name = 'Phase1_Group26.csv'

In [30]:
csc = pd.read_csv(df_name)
csc.sample(10, random_state=999)

,Gender,customer_type,age,type_of_travel,customer_class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,...,inflight_entertainment,onboard_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
117352,Male,Loyal Customer,41,Business travel,Eco,996,5,4,2,4,...,5,4,2,1,5,5,5,80,62.0,satisfied
75928,Male,Loyal Customer,38,Business travel,Business,3463,5,5,5,5,...,5,5,5,5,2,5,2,0,0.0,satisfied
26682,Male,Loyal Customer,36,Personal Travel,Eco,361,1,5,4,3,...,2,4,2,5,4,4,2,0,3.0,neutral or dissatisfied
47086,Male,Loyal Customer,15,Personal Travel,Eco,216,4,4,4,2,...,4,3,5,4,5,4,4,0,2.0,neutral or dissatisfied
95174,Male,Loyal Customer,65,Personal Travel,Eco,257,2,5,2,5,...,4,1,1,1,1,5,4,0,0.0,neutral or dissatisfied
69597,Female,Loyal Customer,31,Business travel,Business,616,1,4,4,4,...,1,4,3,3,3,3,1,51,41.0,neutral or dissatisfied
103699,Male,Loyal Customer,41,Business travel,Business,3127,2,2,2,2,...,4,4,4,5,3,4,4,0,0.0,satisfied
72511,Female,Loyal Customer,62,Business travel,Eco,460,2,1,1,1,...,2,2,2,2,3,2,2,73,63.0,neutral or dissatisfied
2537,Male,Loyal Customer,53,Business travel,Business,715,1,1,2,1,...,4,4,4,4,3,4,3,5,8.0,satisfied
122009,Male,disloyal Customer,29,Business travel,Eco,114,2,3,2,3,...,4,4,4,1,1,2,4,0,0.0,neutral or dissatisfied

### Data Cleaning

*   Drop irrelevant features in our dataset
*   Check and rename/ modify some column names
*   Check for missing values
*   Remove all the rows with missing values 
*   Random sampling of the dataset for 5000 rows

Displaying all the columns in our dataset.

In [31]:
list(csc.columns)

['Gender',
 'customer_type',
 'age',
 'type_of_travel',
 'customer_class',
 'flight_distance',
 'inflight_wifi_service',
 'departure_arrival_time_convenient',
 'ease_of_online_booking',
 'gate_location',
 'food_and_drink',
 'online_boarding',
 'seat_comfort',
 'inflight_entertainment',
 'onboard_service',
 'leg_room_service',
 'baggage_handling',
 'checkin_service',
 'inflight_service',
 'cleanliness',
 'departure_delay_in_minutes',
 'arrival_delay_in_minutes',
 'satisfaction']

`inflight_wifi_service`, `inflight_entertainment`,`food_and_drink` and `leg_room_service` are parts of the `inflight_service`, thus they are considered redundant for the model and removed. `ease_of_online_booking`, `online_boarding`, `baggage_handling` and `checkin_service` are parts of the `onboard_service`, which are also the same as `onboard_service` feature, thus they are also considered redundant and removed.

In [32]:
# Drop irrelevant/repeated columns/features
csc = csc.drop(columns=["inflight_wifi_service", 
                        "inflight_entertainment", 
                        "food_and_drink", 
                        "leg_room_service", 
                        "ease_of_online_booking",
                        "online_boarding",
                        "baggage_handling",
                        "checkin_service"])

As this project contains 'Gender', we have to make sure there will be 'Female' and 'Male' instead of 'F' and 'M' respectively.

In [33]:
# Replace 'F' and 'M' with 'Female' and 'Male' respectively
csc['Gender'] = csc['Gender'].replace({'M':'Male', 'F':'Female'})

csc.head(10)

,Gender,customer_type,age,type_of_travel,customer_class,flight_distance,departure_arrival_time_convenient,gate_location,seat_comfort,onboard_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,4,1,5,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,2,3,1,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,5,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,5,5,2,2,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,5,3,3,3,0,0.0,satisfied
5,Female,Loyal Customer,26,Personal Travel,Eco,1180,4,1,1,3,4,1,0,0.0,neutral or dissatisfied
6,Male,Loyal Customer,47,Personal Travel,Eco,1276,4,3,2,3,5,2,9,23.0,neutral or dissatisfied
7,Female,Loyal Customer,52,Business travel,Business,2035,3,4,5,5,5,4,4,0.0,satisfied
8,Female,Loyal Customer,41,Business travel,Business,853,2,2,3,1,1,2,0,0.0,neutral or dissatisfied
9,Male,disloyal Customer,20,Business travel,Eco,1061,3,4,3,2,3,2,0,0.0,neutral or dissatisfied

One of the columns are not labeled properly, which will be problematic when modeling. We will make all column names lower case for consistency. We will also remove any white spaces before & after column names.

In [34]:
# Make column names lower case
# Remove any white spaces before & after the column names
csc.columns = csc.columns.str.lower().str.strip()
csc.sample(5, random_state=999)

,gender,customer_type,age,type_of_travel,customer_class,flight_distance,departure_arrival_time_convenient,gate_location,seat_comfort,onboard_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
117352,Male,Loyal Customer,41,Business travel,Eco,996,4,4,5,4,5,5,80,62.0,satisfied
75928,Male,Loyal Customer,38,Business travel,Business,3463,5,5,5,5,5,2,0,0.0,satisfied
26682,Male,Loyal Customer,36,Personal Travel,Eco,361,5,3,2,4,4,2,0,3.0,neutral or dissatisfied
47086,Male,Loyal Customer,15,Personal Travel,Eco,216,4,2,4,3,4,4,0,2.0,neutral or dissatisfied
95174,Male,Loyal Customer,65,Personal Travel,Eco,257,5,5,4,1,5,4,0,0.0,neutral or dissatisfied

Next, we check the data types and observe that they match the intended data types, thus no change is needed here.

In [35]:
# Check for data types
print(f"Shape of the dataset = {csc.shape} \n")
print(f"Data types are below where 'object' indicates a string type: ")
print(csc.dtypes)

Shape of the dataset = (129880, 15)

Data types are below where 'object' indicates a string type:
gender                                object
customer_type                         object
age                                    int64
type_of_travel                        object
customer_class                        object
flight_distance                        int64
departure_arrival_time_convenient      int64
gate_location                          int64
seat_comfort                           int64
onboard_service                        int64
inflight_service                       int64
cleanliness                            int64
departure_delay_in_minutes             int64
arrival_delay_in_minutes             float64
satisfaction                          object
dtype: object

The unique values for all columns with categorical data types are displayed to check for any white spaces and other data quality issues. It turns out that the data is already clean, and no further data cleaning steps are necessary here.

The summary statistics are generated for all the categorical features.

In [36]:
from IPython.display import display, HTML
display(HTML('<b>Table 1: Summary of categorical features</b>'))
csc.describe(include='object').T

                 count unique                      top    freq
gender          129880      2                   Female   65899
customer_type   129880      2           Loyal Customer  106100
type_of_travel  129880      2          Business travel   89693
customer_class  129880      3                 Business   62160
satisfaction    129880      2  neutral or dissatisfied   73452

In [37]:
# To see all unique values for categorical data types
categorical_Columns = csc.columns[csc.dtypes==object].tolist()

for col in categorical_Columns:
    print('Unique values for', col, end=': ')
    print(list(csc[col].unique()))
    print('')

Unique values for gender: ['Male', 'Female']

Unique values for customer_type: ['Loyal Customer', 'disloyal Customer']

Unique values for type_of_travel: ['Personal Travel', 'Business travel']

Unique values for customer_class: ['Eco Plus', 'Business', 'Eco']

Unique values for satisfaction: ['neutral or dissatisfied', 'satisfied']

The summary statistics are generated for all the numerical features.

In [38]:
display(HTML('<b>Table 2: Summary of numerical features</b>'))
csc.describe(include=['int64','float64']).T

,count,mean,std,min,25%,50%,75%,max
age,129880.0,39.427957,15.119360,7.0,27.0,40.0,51.0,85.0
flight_distance,129880.0,1190.316392,997.452477,31.0,414.0,844.0,1744.0,4983.0
departure_arrival_time_convenient,129880.0,3.057599,1.526741,0.0,2.0,3.0,4.0,5.0
gate_location,129880.0,2.976925,1.278520,0.0,2.0,3.0,4.0,5.0
seat_comfort,129880.0,3.441361,1.319289,0.0,2.0,4.0,5.0,5.0
onboard_service,129880.0,3.383023,1.287099,0.0,2.0,4.0,4.0,5.0
inflight_service,129880.0,3.642193,1.176669,0.0,3.0,4.0,5.0,5.0
cleanliness,129880.0,3.286326,1.313682,0.0,2.0,3.0,4.0,5.0
departure_delay_in_minutes,129880.0,14.713713,38.071126,0.0,0.0,0.0,12.0,1592.0
arrival_delay_in_minutes,129487.0,15.091129,38.465650,0.0,0.0,0.0,13.0,1584.0

Missing values are checked by displaying the number of missing values in every column. We observe that `arrival_delay_in_minutes` feature has missing values. We decide to drop these observations for simplicity.

In [39]:
# Count missing values in each column
print(f"\nNumber of missing values for each column/ feature:")
print(csc.isnull().sum())

Number of missing values for each column/ feature:
gender                                 0
customer_type                          0
age                                    0
type_of_travel                         0
customer_class                         0
flight_distance                        0
departure_arrival_time_convenient      0
gate_location                          0
seat_comfort                           0
onboard_service                        0
inflight_service                       0
cleanliness                            0
departure_delay_in_minutes             0
arrival_delay_in_minutes             393
satisfaction                           0
dtype: int64

In [40]:
# Drop all rows with missing values/NaN
csc = csc.drop(columns='arrival_delay_in_minutes')
csc.shape

(129880, 14)

### Random Sampling

## Data Exploration and Visualisation <a id='Exploration_And_Visualisation'></a>

## Literature Review <a id='Review'></a>

## Summary and Conclusion <a id='Summary_And_Conclusion'></a>

## References <a id='References'></a>